@{
    ViewData["Title"] = "Zarejestruj się";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
}

<div class="page-container d-grid align-items-center justify-content-center">
    <h1 class="display-4 text-center mb-4">Rejestracja</h1>
    <form class="needs-validation" oninput='userpassword2.setCustomValidity(userpassword2.value != userpassword.value ? "Hasła do sibie nie pasują!" : "")' novalidate>
        <div class="mb-3">
            <label for="userName"><i class="fas fa-user"></i> Nazwa użytkownika</label>
            <input type="text" class="form-control" id="userName" minlength="4" maxlength="30" pattern="^[a-zA-Z][a-zA-Z0-9_]*(?: [a-zA-Z0-9]+)?$" required>
        </div>
        <div class="mb-3">
            <label for="userEmail"><i class="fas fa-envelope"></i> Email</label>
            <input type="email" class="form-control" id="userEmail" required>
        </div>
        <div class="mb-3">
            <label for="userPassword"><i class="fas fa-lock"></i> Hasło</label>
            <input type="password" class="form-control" id="userPassword" minlength="8" maxlength="100" name="userpassword" required>
        </div>
        <div class="mb-3">
            <label for="userRePassword"><i class="fas fa-lock"></i> Powtórz hasło</label>
            <input type="password" class="form-control" minlength="8" maxlength="100" name="userpassword2" id="userRePassword" required>
        </div>
        <div class="mb-3">
            <label>Jakich języków chcesz się nauczyć?</label>
            <div class="col">
                @foreach (var category in Model)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="@category.Id">
                        <label class="form-check-label" for="@category.Id">
                            @category.Language
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" data-buttontype="register" class="btn btn-primary mt-2">Zarejestruj się</button>
        </div>
    </form>
    <hr>
    <p class="text-center">Mam już konto. <a href="@Url.Action("Index", "Login")">Zaloguj się!</a></p>
</div>

@section Scripts {
    <script>
        const registerAccountUrl = '@Url.Action("RegisterAccount", "Login")';
        const loginHomeUrl = '@Url.Action("Index", "Login")';
    </script>
    <script src="~/js/common.js"></script>
    <script src="~/js/login.js"></script>
}